.locationDescription {
  width: 100%;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--coral-darkest);
  white-space: pre-line;
}

@media screen and (min-width: 1440px) {
  .locationDescription {
    width: 864px;
  }
  .text {
    font-size: 18px;
  }
}
