.main {
  background-color: var(--background-secondary);
  width: auto;
  margin-inline: 0;
  padding: 0;
}

.section {
  background: var(--background-secondary);
  box-shadow: 0 0 0 100vmax var(--background-secondary);
  clip-path: inset(0 -100vmax);
  padding: 32px 0;
}

.content {
  display: grid;
  gap: 32px;
}

.top {
  display: grid;
  gap: 24px;
}

.info {
  display: block;
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 48px 0 72px;
  }

  .top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
  }

  .info {
    flex: 0 0 520px;
  }

  .content {
    gap: 48px;
  }
}
