.wrapper {
    margin: 0 16px;
}

.rating {
    max-width: 130px;
    --smastrom-color-fill: var(--text-primary);
    --smastrom-color-empty: transparent;
    --smastrom-color-empty-stroke: var(--text-primary);
}
