.title {
    font-family: inherit;
    font-size: 28px;
    font-weight: 700;
    color: var(--neutral-darkest);
    margin-bottom: 40px;
}
.placeholderWrapper {
    margin-top: 32px;
}
@media screen and (min-width: 768px) {
    .title {
        font-size: 44px;
    }
}

.placeholderWrapper {
    margin-top: 40px;
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 52px;
    }
}