.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: var(--neutral-darkest-40);

}

.modal {
  position: relative;
  max-width: 90dvw;
  max-height: 90dvh;
  overflow-y: auto;
  padding: 64px 20px;
  border-radius: 24px;
  background-color: var(--background-primary);
  box-shadow: 0 10px 30px var(--neutral-darkest-20);
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.closeIcon {
  display: block;
  fill: var(--text-primary);
  transition: fill 0.2s ease;
}

.closeButton:hover .closeIcon,
.closeButton:focus .closeIcon {
  fill: var(--coral);
}