.page {
  min-height: 100vh;
  background-color: var(--coral-lightest);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.card {
  margin: 0 auto;
  max-width: 644px;
  width: 100%;
  flex-grow: 1;
}
