.title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text-primary);
}

.text {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: var(--neutral-dark);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.cancelButton,
.confirmButton {
  width: 294px;
  height: 48px;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.cancelButton {
  border: 1px solid var(--neutral-lighter);
  background-color: var(--foreground-primary);
  color: var(--text-primary);
}

.cancelButton:hover,
.cancelButton:focus {
  border-color: var(--coral-light);
  background-color: var(--coral-lightest);
}

.confirmButton {
  border: none;
  background-color: var(--coral);
  color: var(--white);
}

.confirmButton:hover,
.confirmButton:focus {
  background-color: var(--coral-darker);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
  .actions {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .cancelButton,
  .confirmButton {
    width: 203px;
    height: 48px;
  }
}

@media screen and (min-width: 1440px) {
   .title {
    font-size: 48px;
  }
  
  .text {
    font-size: 20px;
  }

  .cancelButton,
  .confirmButton {
   font-size: 20px;
}

}