.section {
  background-color: var(--coral-lightest);
  /* padding: 64px 16px; */
}

/* .wrapper {
  max-width: 335px;
  margin: 0 auto;
  /* padding: 0 16px; */
 */

.title {
  font-size: 28px;
  margin-bottom: 32px;
  color: var(--text-secondary);
  font-weight: 700;
  letter-spacing: -0.01em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--foreground-secondary);
}


.icon {
  width: 64px;
  height: 64px;
  /* margin-bottom: 20px; */
  color: var(--neutral-darkest);
}

.cardTitle {
  /* padding: 16px; */
  /* margin-bottom: 18px; */
  font-size: 18px;
  letter-spacing: -0.01em;
  color: var(--text-secondary);
  font-weight: 700;
  line-height: 1.2;
}

.cardText {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* padding: 12px; */
}


/* mobile adaptive from 375px */
@media screen and (min-width: 375px) {
  .section {
    padding: 64px 20px;
  }

  /* .wrapper {
    margin: 0 20;
  max-width: 335px;
    padding: 0 20px;
} */

}



@media screen and (min-width: 768px) {
  .section {
  padding: 64px 32px;
  }

  /* .wrapper {
  /* margin: 0 32px; */
  /* margin:0 auto;
  max-width: 704px; */
  /* padding: 0; */
  } */

  .title {
    margin-bottom: 40px;
    font-size: 56px;
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding-block: 8px;
  }

  .card {
    width: calc((100% - 16px) / 2);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap:16px;
  }



.card:last-child {
  width: 100%;
}

  .cardTitle {
    font-size: 20px;
  }



/* desktop */
@media screen and (min-width: 1440px) {
    .section {
    padding: 112px 64px;
  }

 /* .wrapper {
    margin: 0 64px;
    max-width: 1312px;
  } */

  .title {
    font-size: 64px;
  }

  .list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .card {
    width: calc((100% - 48px) / 3);
  }

  .cardTitle {
    font-size: 26px;
  }

  .cardText {
    font-size: 18px;
  }

  .card:last-child {
    width: calc((100% - 48px) / 3);
  }
}