.section {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color:  #fff2ec;;
}
/* .wrapper {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
} */


/* .wrapper {
  width: calc(100vw - 40px);
  margin-left: calc(-50vw + 50%);
} */

.wrapper {
  max-width: 335px;
  margin: 0 auto;
  padding: 0 16px;
}

.title {
  margin-bottom: 32px;
  color: var(--text-secondary);
  font-weight: 700;
  letter-spacing: -0.01em;
color: #1b391b;
}

.list {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 24px;

}

.card {
    width: 100%;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--foreground-secondary);
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  fill: none;
  stroke: currentColor;
  color: var(--neutral-darkest);
}

.cardTitle {
  margin-bottom: 12px;
  color: var(--text-secondary);
  font-weight: 700;
  line-height: 1.2;
}

.cardText {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}


/* mobile adaptive from 375px */
@media screen and (min-width: 375px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .wrapper {
    /* margin: 0 20; */
  max-width: 375px;
    /* padding: 0 20px; */
}

  .title {
    margin-bottom: 32px;
    font-size: 28px;
  }

  /* .card {
    max-width: 340px;
    max-height: 204px;
  } */

  .cardTitle{
  font-size: 18px;
}

  .cardText {
    font-size: 16px;

  }
}



@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .wrapper {
    margin: 0 32px;
    max-width: 704px;
    padding: 0;
  }

  .title {
    margin-bottom: 40px;
    font-size: 56px;
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .card {
    width: calc((100% - 16px) / 2);
    min-height: 225px;
    /* padding: 16px 16px; */
  }

  .card:last-child {
    width: 100%;
  }

  .cardTitle {
    font-size: 20px;
  }
}


/* desktop */
@media screen and (min-width: 1440px) {
 .wrapper {
     margin: 0 64px;
    max-width: 1312px;
  }

  .title {
    font-size: 64px;
  }

  .list {
    /* display: flex; */
    flex-wrap: nowrap;
    gap: 24px;
  }

  .card {
    width: calc((100% - 48px) / 3);
    min-height: 245px;
    /* padding:20px 16px; */
  }

  .card:last-child {
    width: calc((100% - 48px) / 3);
  }
}