.main {
  padding: 0;
}

.section {
  background: var(--background-secondary);
  box-shadow: 0 0 0 100vmax var(--background-secondary);
  clip-path: inset(0 -100vmax);
}

.top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .top {
    padding: 48px 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .bottom {
    padding-top: 48px;
    gap: 80px;
  }

  .info {
    flex: 0 0 520px;
  }

  .content {
    gap: 48px;
  }
}
