.form {
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 335px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.imageUploadBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imagePlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 124px;
  border-radius: 12px;
  background-color: var(--foreground-primary);
  overflow: hidden;
}


.uploadButton {
  align-self: flex-start;
  min-height: 32px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--foreground-secondary);
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.input,
.select,
.textarea {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 12px 14px;
  background-color: var(--foreground-secondary);
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.5;
  outline: none;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--neutral);
}

.textarea {
  resize: none;
  min-height: 120px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 64px;
}

.cancelButton,
.submitButton {
  min-height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.cancelButton {
  background-color: var(--foreground-primary);
  color: var(--neutral-dark);
}

/* .cancelButton :hover {
  background-color: var(--foreground-primary);
  color: var(--neutral-dark);
} */

.submitButton {
  background-color: var(--coral-light);
  color: var(--white);
}

.submitButton:hover {
  background-color: var(--coral-);
  color: var(--white);
}



@media screen and (min-width: 768px) {
  .form {
    max-width: 480px;
    gap: 24px;
  }

  .imagePlaceholder {
    height: 180px;
  }

  .actions {
    flex-direction: row;
  }

  .cancelButton,
  .submitButton {
    min-width: 180px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    max-width: 520px;
  }
}